# App env variables.
NODE_ENV='development'
LOG_LEVEL='info'

NEXT_PUBLIC_APP_URL='http://localhost:3000'

# Database env variables.
DATABASE_URL=

# BetterAuth env variables.
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# GitHub env variables.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google env variables.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
